<a href="https://colab.research.google.com/github/JUPUDI-VAMSI-KALYAN/Coursera_Capstone/blob/master/Untitled42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [0]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

In [0]:

# creat a new Dataframe
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

In [6]:
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  Postalcode      Borough                                       Neighborhood
0        M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                                     Woburn, Woburn
4        M1H  Scarborough                               Cedarbrae, Cedarbrae

In [9]:
df.head(10)

  Postalcode      Borough                                       Neighborhood
0        M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                                     Woburn, Woburn
4        M1H  Scarborough                               Cedarbrae, Cedarbrae
5        M1J  Scarborough           Scarborough Village, Scarborough Village
6        M1K  Scarborough  East Birchmount Park, Ionview, Kennedy Park, E...
7        M1L  Scarborough  Clairlea, Golden Mile, Oakridge, Clairlea, Gol...
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village Wes...
9        M1N  Scarborough  Birch Cliff, Cliffside West, Birch Cliff, Clif...

In [0]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [11]:

print(df2.shape)
df2.head(10)

(103, 3)

  Postalcode      Borough                                       Neighborhood
0        M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                                     Woburn, Woburn
4        M1H  Scarborough                               Cedarbrae, Cedarbrae
5        M1J  Scarborough           Scarborough Village, Scarborough Village
6        M1K  Scarborough  East Birchmount Park, Ionview, Kennedy Park, E...
7        M1L  Scarborough  Clairlea, Golden Mile, Oakridge, Clairlea, Gol...
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village Wes...
9        M1N  Scarborough  Birch Cliff, Cliffside West, Birch Cliff, Clif...

In [12]:
print('The DataFrame shape is', df2.shape)

The DataFrame shape is (103, 3)